@model Modelos.Admin.Acessos.MenuModelView


@{
    ViewBag.Title = "ExcluirMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="center">
        <h3>Confirma a exclusão desse Menu</h3>
    </div>
    <div class="row">
        <div class="col col-12">
            @using (Html.BeginForm("ExcluirMenu", "Menu", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.Id)
                @Html.AntiForgeryToken()
                @Html.Partial("_Menu")
                <br />
                <input type="submit" id="btnEnviar" value="Excluir" class="btn btn-danger" />

                <div class="toaster">
                    @Html.ValidationMessageFor(r => r.Action)
                </div>
                <div class="toaster">
                    @Html.ValidationMessageFor(r => r.Controller)
                </div>
                <div class="toaster">
                    @Html.ValidationMessageFor(r => r.Grupo)
                </div>
                <div class="toaster">
                    @Html.ValidationMessageFor(r => r.Location)
                </div>
                <div class="toaster">
                    @Html.ValidationMessageFor(r => r.Role)
                </div>
                <div class="toaster">
                    @Html.ValidationMessageFor(r => r.Descricao)
                </div>
            }
        </div>
    </div>
</div>


@section scripts{

    <!-- _scriptCadastros.cshtml carrega os scripts:
            Toast.min.js
            jquery.validate.min.js
            jquery.validate.unobtrusive.min.js
            WebService.min.js
    -->



    <script src="~/Scripts/Custom/FormFields.min.js"></script>
    <script>

        $(document).ready(function () {
            DisableFormFields();
        });

        $("#btnEnviar").click(function () {
            EnableFormFields();
        })
    </script>

}



