@model Modelos.Admin.Acessos.MenuModelView
@{
    ViewBag.Title = "IncluirMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("IncluirMenu", "Menu", FormMethod.Post))
{
    <div class="container">
        @Html.AntiForgeryToken()
        @Html.Partial("_Menu")

        <input type="submit" id="btnEnviar" value="Gravar" class="btn btn-primary" />

        <div class="toaster">
            @Html.ValidationMessageFor(r => r.Action)
        </div>
        <div class="toaster">
            @Html.ValidationMessageFor(r => r.Controller)
        </div>
        <div class="toaster">
            @Html.ValidationMessageFor(r => r.Grupo)
        </div>
        <div class="toaster">
            @Html.ValidationMessageFor(r => r.Location)
        </div>
        <div class="toaster">
            @Html.ValidationMessageFor(r => r.Role)
        </div>
        <div class="toaster">
            @Html.ValidationMessageFor(r => r.Descricao)
        </div>
    </div>
}


@section scripts{

    <script src="~/Scripts/Custom/FormFields.min.js"></script>
    <script type="text/javascript">$("form").validate();</script>

}