@model Modelos.Cadastros.Visitantes.AcessoModelView
@{
    ViewBag.Title = "Alterar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col col-6">
            @using (Html.BeginForm("Alterar", "ControleDeAcesso", new { area = "EntradaVisitante" }, FormMethod.Post, new { id = "form" }))
            {

                @Html.AntiForgeryToken()
                @Html.HiddenFor(v => v.Id)
                @Html.HiddenFor(v => v.Foto)
                @Html.HiddenFor(v => v.Nome)
                @Html.HiddenFor(v => v.Empresa)
                @Html.HiddenFor(v => v.Documento)
                @Html.HiddenFor(v => v.Rg)
                @Html.HiddenFor(v => v.IdVisitante)

                <div class="alert alert-info" role="alert">
                    <h4 class="alert-heading">Alteração do Motivo da Visita</h4>
                    <p>Visitante: @Model.Nome</p>
                    <p>Empresa: @Model.Empresa</p>
                    <p>Data de Entrada: @Model.DataEntrada</p>
                </div>

                <div class="form-Group">
                    @Html.LabelFor(a => a.Visitado)
                    @Html.TextBoxFor(a => a.Visitado, new { @class = "form-control" })
                </div>

                <div class="form-Group">
                    @Html.LabelFor(a => a.Motivo)
                    @Html.TextAreaFor(a => a.Motivo, new { @class = "form-control", @rows = 5 })
                </div>
                <br />
                <input type="submit" value="Gravar" class="btn btn-primary" id="btnEnviar" />



                <div class="toaster">
                    @Html.ValidationMessageFor(x => x.Motivo)
                </div>

                <div class="toaster">
                    @Html.ValidationMessageFor(a => a.Visitado)
                </div>
            }
        </div>
        <div class="col col-3">
            <video id="video" class="video shadow" autoplay></video>
            <button id="snap" class="btn btn-secondary btn-sm">Fotografar</button>
        </div>
        <div class="col col-3">
            <div class="img-hover">
                <canvas id="canvas" class="shadow" width="320" height="240" style="width:100%;"></canvas>
                <h2 class="img-preview">Preview</h2>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
             // Grab elements, create settings, etc.
            var video = document.getElementById('video');

            // Get access to the camera!
            if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                // Not adding `{ audio: true }` since we only want video now
                navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
                    //video.src = window.URL.createObjectURL(stream);
                    video.srcObject = stream;
                    video.play();
                });
            }

            // Elements for taking the snapshot
            var canvas = document.getElementById('canvas');
            var context = canvas.getContext('2d');
            var video = document.getElementById('video');
            var foto = document.querySelector("#Foto");

            //ViewBag.ImagemB64
            var imagem = new Image();

            imagem.onload = function() {
                context.drawImage(this, 0, 0, canvas.width, canvas.height);
            }
            imagem.src = "@ViewBag.ImagemB64";


            context.drawImage(imagem,  0, 0, 320, 240);

            // Trigger photo take
            document.getElementById("snap").addEventListener("click", function () {
               // video.hidden = true;
                context.drawImage(video, 0, 0, 320, 240);
                foto.value = canvas.toDataURL("image/jpeg");
            });
        });
    </script>
}